@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
:root {
  --primary: #11052c;
  --secondary: #3d087b;
  --tertiory: #f43b86;
  --fourth: #ffe459;
}
body {
  background: url(https://cdn.dribbble.com/users/925716/screenshots/3333720/attachments/722376/after_noon.png?compress=1&resize=400x300);
  /* https://cdn.dribbble.com/users/925716/screenshots/3333720/attachments/722375/night.png?compress=1&resize=400x300 */

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100vw;
  height: 100vh;
}
.input-Container {
  padding-bottom: 40px;
}
.input-Container input {
  width: 20vw;
  border: 1px solid transparent;
  padding: 7px 10px;
  outline: none;
  border-radius: 5px 0px 0px 5px;
}
.input-Container button {
  padding: 7px 15px;
  margin-left: -1px;
  color: white;
  background-color: rgb(0, 119, 255);
  border: 1px solid transparent;
  border-radius: 0px 5px 5px 0px;
}
.Display-container {
  width: 650px;
  height: 400px;
  background-color: var(--fourth);
  border-radius: 30px 30px 30px 30px;
  border: transparent;
  box-shadow: 0px 0px 30px rgb(0, 0, 0);
}
.first {
  height: 150px;
}
.second {
  background-color: var(--secondary);
  display: flex;
  height: 150px;
}
.second-child-1 {
  font-family: "Raleway", sans-serif;
  background-color: black;
  width: 400px;
}
.second-child-2 {
  font-size: 31px;
  margin-right: -45px;
  color: white;
  font-weight: 700;
  padding-left: 20px;
}
.third {
  display: flex;
  height: 100px;
  font-family: "Montserrat", sans-serif;
}
.width {
  display: flex;
  align-items: center;
  width: 25vw;
  font-weight: 600;
  font-size: 25px;
}
.width i {
  color: var(--tertiory);
  font-weight: 600;
  font-size: 23px;
  margin-left: -10px;
}
.third-text {
  padding-left: 30px;
  font-size: 20px;
}

/* make responsive */
@media screen and (max-width: 750px) {
  body {
    background: url(https://cdn.dribbble.com/users/925716/screenshots/3333720/attachments/722376/after_noon.png);
    /* https://cdn.dribbble.com/users/925716/screenshots/3333720/attachments/722375/night.png */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    zoom: 94%;
  }
  .container {
    width: 95vw;
    padding: 20px;
    align-items: flex-start;
    justify-content: center;
  }
  .input-Container {
    width: 100vw;
  }
  .input-Container input {
    height: 30px;
    width: 70vw;
  }
  .input-Container button {
    height: 48px;
    width: 25vw;
  }
  .Display-container {
    width: 100vw;
    border-radius: 0px;
    height: 460px;
  }
  .second {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    height: 200px;
  }
  .second-child-1 {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
  }
  .second-child-2 {
    font-family: "Montserrat", sans-serif;
  }
  .third {
    flex-wrap: wrap;
    font-family: "Montserrat", sans-serif;
  }
  .width {
    width: 50vw;
  }
}
