@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
:root {
  --primary: #11052c;
  --secondary: #3d087b;
  --tertiory: #f43b86;
  --fourth: #ffe459;
}
body {
  background-color: var(--primary);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100vw;
  height: 100vh;
}
.input-Container {
  padding-bottom: 40px;
}
.input-Container input {
  width: 20vw;
  border: 1px solid transparent;
  padding: 7px 10px;
  outline: none;
  border-radius: 5px 0px 0px 5px;
}
.input-Container button {
  padding: 7px 15px;
  margin-left: -1px;
  color: white;
  background-color: rgb(0, 119, 255);
  border: 1px solid transparent;
  border-radius: 0px 5px 5px 0px;
}
.Display-container {
  width: 650px;
  height: 400px;
  background-color: var(--fourth);
  border-radius: 30px 30px 30px 30px;
  border: transparent;
  box-shadow: 0px 0px 30px rgb(0, 0, 0);
}
.first {
  height: 150px;
}
.second {
  background-color: var(--secondary);
  display: flex;
  height: 150px;
}
.second-child-1 {
  font-family: "Raleway", sans-serif;
  background-color: black;
  width: 400px;
}
.second-child-2 {
  font-size: 31px;
  margin-right: -45px;
  color: white;
  font-weight: 700;
  padding-left: 20px;
}
.third {
  display: flex;
  height: 100px;
}
.width {
  display: flex;
  align-items: center;
  width: 162px;
  font-weight: 600;
  font-size: 25px;
}
.width i {
  color: var(--tertiory);
  font-weight: 600;
  font-size: 23px;
  margin-left: -10px;
}
.third-text {
  padding-left: 30px;
  font-size: 20px;
}
